# dependencies
node_modules

# logs
*.log

# Nuxt generate
dist

# Intellij idea
.idea
*iml

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# vs code
.vscode

# package-lock
package-lock.json

# Yarn

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
